.App {
  text-align: center;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


pre {
  background-color: rgb(244, 223, 223);
  color : black;
  border-radius: 10px;

}
input {
  width: 210px;
  height: 36px;
  background-color: rgb(248, 226, 226);

  font-size: 17px;
  border-radius: 10px;
  margin-top : 50px;
}
label {
  font-size: 22px;
  margin-right: 10px;
}
.l{
  margin-left : 20px;
}