body{
    background-color: rgba(146, 211, 26, 0.789);
}

label {
    font-weight: bold;
    padding: 20px;
    font-size: 20px;
    letter-spacing: 3px;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.head {
    text-align: center;
    font-weight: 800;
    color: rgba(4, 7, 88, 0.859);
    text-decoration: underline;
    line-height: 1em;
    text-transform: capitalize;
    letter-spacing: 5px;
}

input {}